// Theme
$brand-color: #04A7EC; //rgb(236, 88, 4);
$line-color: #eee;

// Reset Vars
$default-font-family: Lato, Arial;
$default-text-color: #444;
$default-anchor-color: $brand-color;

// Title Font
$title-font-family: Merriweather;

// Structure
$default-page-width: 800px;

// Common Breakpoints
$desktop-breakpoint: 1050px;
