main {
	background-color: #fff;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;

	@include respond($desktop-breakpoint) {
		width: $default-page-width;
		margin-left: auto;
		margin-right: auto;

	}

}

article header {
	border-bottom: 1px solid $line-color;
	padding-bottom: 10px;
}


// main {
// 	@include respond($desktop-breakpoint) {
// 		margin-left: 320px;
// 		padding-left: 10px;
// 	}
// 	> * + * {
// 		margin-top: 10px;
// 	}
// }

