header.primary {
	background-color: #e5e5e5;
	
	> div {
		position: relative;
	}

	.logo {
		font: 30pt 'Fjalla One';
		color: #fff;
		padding: 10px 0;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	@include respond($desktop-breakpoint) {
		> div {
			width: $default-page-width;
			margin: 0 auto;
		}
	}

	.toggle-menu {
		font-size: 20pt;
		display: block;
		float: right;
		margin-top: 4px;
		margin-right: 15px;
		cursor: pointer;

		@include respond($desktop-breakpoint) {	
			display: none;
		}
	}

}

#nav {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: $brand-color;

	a {
		display: block;
		padding: 10px 20px;
		color: #fff;
	}

	&:target {
		display: block;
	}

	@include respond($desktop-breakpoint) {	
		display: block;
		position: static;
		
		a {
			display: inline-block;
		}
	}
}

