article {
	@include vertical-gutters($gutter);
	font-size: 14pt;

	> header {
		border-bottom: 1px solid $line-color;
		padding-bottom: 10px;
	}

	img.bannar {
		width: 100%;
	}

	> iframe {
		margin: $gutter auto;
		display: block;
	}
	
}

